.Field {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 25%;
    height: 20%;
    margin: 1rem;

    background-color: chocolate;
    pointer-events: none;
}

.isReadyToHarvest {
    background-color: darkgreen;
    pointer-events: initial;
}