html, body, #root, .App {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", serif;
}

.App h1 {
    text-align: center;
}

.fieldsZone {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 90%;
    width: 100%;
}

